@model GymCenter.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Memberid" />
            <div class="form-group">
                <label asp-for="SubscriptionStart" class="control-label"></label>
                <input asp-for="SubscriptionStart" class="form-control" />
                <span asp-validation-for="SubscriptionStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionEnd" class="control-label"></label>
                <input asp-for="SubscriptionEnd" class="form-control" />
                <span asp-validation-for="SubscriptionEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planid" class="control-label"></label>
                <select asp-for="Planid" class="form-control" asp-items="ViewBag.Planid"></select>
                <span asp-validation-for="Planid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <select asp-for="Userid" class="form-control" asp-items="ViewBag.Userid"></select>
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

