@{
    Layout = "~/Views/Shared/MemberLayout.cshtml";

}
@model IEnumerable<GymCenter.Models.Homepage>
<section class="hero-section">
    <div class="hs-slider owl-carousel">

        @foreach (var item in Model)
        {
            <div class="hs-item set-bg" data-setbg="@Url.Content("~/images/" + item.ImagePath)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>@item.Title1</span>
                                <h1>@item.Title2</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Hero Section End -->
