<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="~/MemberDesign/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/MemberDesign/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/MemberDesign/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/MemberDesign/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/MemberDesign/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/MemberDesign/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/MemberDesign/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/MemberDesign/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a asp-action="Home">Home</a></li>
                <li><a asp-action="About">About Us</a></li>
                <li><a asp-action="Services">Services</a></li>
                <li><a asp-action="Testimonials">Testimonials</a></li>
                <li><a asp-action="Contact">Contact</a></li>
                <li>
                    <a href="#">Account</a>
                    <ul class="dropdown">
                        <li><a asp-action="Profile">Profile</a></li>
                        <li><a asp-action="MyPlan">My Plan</a></li>
                        <li><a asp-action="Logout">Logout</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a asp-action="Home">
                            <img src="@Url.Content("~/MemberDesign/img/logo.png")" alt="Logo">

                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a asp-action="Home">Home</a></li>
                            <li><a asp-action="About">About Us</a></li>
                            <li><a asp-action="Services">Services</a></li>
                            <li><a asp-action="Testimonials">Testimonials</a></li>
                            <li><a asp-action="Contact">Contact</a></li>
                            <li>
                                <a href="#">Account</a>
                                <ul class="dropdown">
                                    <li><a asp-action="Profile">Profile</a></li>
                                    <li><a asp-action="MyPlan">My Plan</a></li>
                                    <li><a asp-action="Logout">Logout</a></li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="to-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->
    @RenderBody()

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a asp-action="Home"><img src="@Url.Content("~/MemberDesign/img/logo.png")" alt="Logo"></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore dolore magna aliqua endisse ultrices gravida lorem.
                        </p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a asp-action="Home">Home</a></li>
                            <li><a asp-action="About">About</a></li>
                            <li><a asp-action="Contact">Contact</a></li>
                            <li><a asp-action="Testimonials">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a asp-action="Profile">Profile</a></li>
                            <li><a asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Tips & Guides</h4>
                        <div class="fw-recent">
                            <h6 style="color: #c4c4c4">Physical fitness may help prevent depression, anxiety</h6>
                        </div>
                        <div class="fw-recent">
                            <h6 style="color: #c4c4c4">Fitness: The best exercise to lose belly fat and tone up...</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="~/MemberDesign/js/jquery-3.3.1.min.js"></script>
    <script src="~/MemberDesign/js/bootstrap.min.js"></script>
    <script src="~/MemberDesign/js/jquery.magnific-popup.min.js"></script>
    <script src="~/MemberDesign/js/masonry.pkgd.min.js"></script>
    <script src="~/MemberDesign/js/jquery.barfiller.js"></script>
    <script src="~/MemberDesign/js/jquery.slicknav.js"></script>
    <script src="~/MemberDesign/js/owl.carousel.min.js"></script>
    <script src="~/MemberDesign/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>