@model GymCenter.Models.Siteinfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Siteinfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Sitename" class="control-label"></label>
                <input asp-for="Sitename" class="form-control" />
                <span asp-validation-for="Sitename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteImageFile" class="control-label"></label>
                <input asp-for="SiteImageFile" class="form-control" />
                <span @* asp-validation-for="SiteImageFile" *@ class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoImageFile" class="control-label"></label>
                <input asp-for="LogoImageFile" class="form-control" />
                <span @* asp-validation-for="LogoImageFile" *@ class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharedImageFile" class="control-label"></label>
                <input asp-for="SharedImageFile" class="form-control" />
                <span @* asp-validation-for="SharedImageFile" *@ class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

