@model GymCenter.Models.User

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<div class="container my-5 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
        <h4 class="text-center mt-3">Create New Member</h4>
        <hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" required />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" required />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Username" class="control-label">Username</label>
                <input id="Username" name="Username" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Passwordd" class="control-label">Password</label>
                <input id="Passwordd" name="Passwordd" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" required />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group  d-grid">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div class="mt-3 text-center">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>

    </div>
</div>